body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  font-family: sans-serif;
  background-image: url('landing_page.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.linkBtn {
  padding: 0.5em;
  margin: 2px;
  background-color: white;
  border: 2px solid orangered;
  border-radius: 5px;
}
